@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html id="html" theme="@Context.Request.Cookies["theme"]">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/assets/ico/favicon.png">
    <title>BOOKBAZAAR - Where Everyone Reads Books</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link href="~/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- bxSlider CSS file -->
    <link href="~/assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
            paceOptions = {
                elements: true
            };
        </script>
    <script src="~/assets/js/pace.min.js"></script>
    <script src="~/assets/plugins/modernizr/modernizr-custom.js"></script>
</head>
<body id="wrapper">
<div class="header">
    <nav class="navbar  fixed-top navbar-site navbar-light bg-light navbar-expand-md" role="navigation">
        <div class="container">

            <div class="navbar-identity">
                <a href="/" class="navbar-brand logo logo-title">
                    <span class="logo-icon">
                        <i class="icon icon-search-1 ln-shadow-logo "></i>
                    </span>BOOK<span>BAZAAR </span>
                </a>


                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
                        type="button">

                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
                        <title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
                    </svg>


                </button>


                <button
                    class="flag-menu country-flag d-block d-md-none btn btn-secondary hidden pull-right"
                    href="#select-country" data-toggle="modal">
                    <span class="flag-icon flag-icon-us"></span> <span class="caret"></span>
                </button>

            </div>


            <div class="navbar-collapse collapse">
               
                <ul class="nav navbar-nav ml-auto navbar-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="dropdown no-arrow nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

                                <span>@UserManager.GetUserAsync(User).Result.Name</span> <i class="icon-user fa"></i> <i class=" icon-down-open-big fa"></i>
                            </a>
                            <ul
                                class="dropdown-menu user-menu dropdown-menu-right">
                                <li class="active dropdown-item">
                                    <a href="account-home.html">
                                        <i class="icon-home"></i> Personal Home

                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="account-myads.html"><i class="icon-th-thumb"></i> My ads </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="account-favourite-ads.html"><i class="icon-heart"></i> Favourite ads </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="account-saved-search.html">
                                        <i class="icon-star-circled"></i> Saved search

                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="account-archived-ads.html">
                                        <i class="icon-folder-close"></i> Archived ads

                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="account-pending-approval-ads.html">
                                        <i class="icon-hourglass"></i> Pending

                                        approval
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a  asp-controller="Account" asp-action="Login"><i class=" icon-logout "></i>Çıxış</a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        
                    }
                    
                    <li class="postadd nav-item">
                        <a class="btn btn-block   btn-border btn-post btn-danger nav-link" asp-controller="Ads" asp-action="PostAd">Kitab Sat</a>
                    </li>
                    @* <li class="dropdown  lang-menu nav-item"> *@
                    @*     <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> *@
                    @*         <span class="lang-title">EN</span> *@
                    @* *@
                    @*     </button> *@
                    @*     <ul class="dropdown-menu dropdown-menu-right user-menu" role="menu"> *@
                    @*         <li class="dropdown-item"> *@
                    @*             <a class="active"> *@
                    @* *@
                    @*                 <span class="lang-name">English</span> *@
                    @*             </a> *@
                    @*         </li> *@
                    @*         <li class="dropdown-item"> *@
                    @*             <a> *@
                    @*                 <span class="lang-name">Dutch</span> *@
                    @*             </a> *@
                    @*         </li> *@
                    @*         <li class="dropdown-item"> *@
                    @*             <a> *@
                    @*                 <span class="lang-name">fran&#xE7;ais </span> *@
                    @*             </a> *@
                    @*         </li> *@
                    @*         <li class="dropdown-item"> *@
                    @*             <a> *@
                    @*                 <span class="lang-name">Deutsch</span> *@
                    @*             </a> *@
                    @*         </li> *@
                    @*         <li class="dropdown-item"> *@
                    @*             <a> *@
                    @*                 <span class="lang-name">Arabic</span> *@
                    @*             </a> *@
                    @*         </li> *@
                    @*         <li class="dropdown-item"> *@
                    @*             <a> *@
                    @*                 <span class="lang-name">Spanish</span> *@
                    @*             </a> *@
                    @*         </li> *@
                    @*     </ul> *@
                    @* </li> *@
                </ul>
            </div>

            <!--/.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<label class="theme-switcher  @(@Context.Request.Cookies["theme"] =="dark" ? "active" : "")" id="dark-label" >
        	<span class="theme-switcher-label" data-on="Dark Off" data-off="Dark Mode" ></span>
        	<span class="theme-switcher-handle"></span>
        </label>
@RenderBody()

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script>window.jQuery || document.write('<script src="~/assets/js/jquery/jquery-3.3.1.min.js">\x3C/script>')</script>
<script src="~/assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/assets/js/vendors.min.js"></script>

<!-- include custom script for site  -->
<script src="~/assets/js/main.min.js"></script>
<script src="~/assets/js/fileinput.min.js" type="text/javascript"></script>
<script>
    // initialize with defaults
    $(".file").fileinput();
</script>
<script>

$(document).ready(function(){
    // var theme = Cookies.get('theme');
    // if(theme === 'dark'){
    //     $("html").attr("theme", 'dark');
    //     $("#dark-label").addClass("active");
    // } 
        
    
    
    $("#dark-label").click(function(){
       setTimeout(function() {
                 if($('#dark-label').hasClass('active')) Cookies.set('theme','dark');
                 else Cookies.remove('theme');

       }, 100);
    });
});
</script>
</body>
</html>